<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	 {% load static %}    
   <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    <title>Hello, world!</title>
</head>
<body>

<!-- LOADING DOTS... -->
<div class="container-box">
<div class="spinner-box" >
  <div class="pulse-container">  
    <div class="pulse-bubble pulse-bubble-1"></div>
    <div class="pulse-bubble pulse-bubble-2"></div>
    <div class="pulse-bubble pulse-bubble-3"></div>
  </div>
</div>
</div>
<script>
  function redirectToAnotherPage() {
    var delayTime = 3000;
    setTimeout(function() {
      window.location.href = 'FirstPage';
    }, delayTime);
  }

  window.onload = redirectToAnotherPage;
</script>
</body>
</html>
